body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.block{
    height: 500px;
}
.full-image{
    width: 100%;
}
#scroll{
    height: 1750px;
}

#image-transition{
    transition: 1s ease-in-out;
}